includes:
    - ./vendor/larastan/larastan/extension.neon
    - ./vendor/spaze/phpstan-disallowed-calls/extension.neon
    - ./vendor/spaze/phpstan-disallowed-calls/disallowed-dangerous-calls.neon
    - ./vendor/spaze/phpstan-disallowed-calls/disallowed-execution-calls.neon
    - ./vendor/spaze/phpstan-disallowed-calls/disallowed-loose-calls.neon
    - ./vendor/spaze/phpstan-disallowed-calls/disallowed-insecure-calls.neon

parameters:
    paths:
        - app
    level: 5
